__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.vscode/

.venv/
venv/
env/

.env
.env.*

*.zip
*.tar
*.tar.gz

*.pdf
tests/
data/
plugin_data/
index.json
rm_monitor_state.json
images/
*.png

*.log
